{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app-account') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app-account') }}
{% endblock %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue, {{ user }}</h1>
        {% if user.profilePicture %}
            <img src="{{ asset('uploads/profile-pictures/' ~ user.profilePicture) }}"
                 class="profilePicture"
                 alt="{{ user }}">
        {% endif %}
        <ul class="itemList actionList">
            <li>
                <a class="btn btn-sm btn-primary" href="{{ path('account_edit') }}">Modifier mon compte</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="btn btn-sm btn-primary" href="{{ path('tag') }}">Gérer les tags</a>
                </li>
            {% endif %}
        </ul>
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Mes projets</h2>
                <div class="projectActions">
                    <a class="btn btn-sm btn-success" href="{{ path('project_new') }}">Créer un projet</a>
                </div>
                {% for project in user.projects %}
                    <a class="d-bock blockLink" href="{{ path('project_show', {slug: project.slug}) }}">
                        <div class="projectPreview">
                            <h3>{{ project.title }}</h3>
                            <p class="description">{{ project.description }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
