<div id="task-{{ task.id }}"
     class="task"
     draggable="true"
     data-task-id="{{ task.id }}">
    <h3>{{ task.title }}</h3>
    <a class="btn btn-sm btn-primary" href="{{ path('task_edit', {id: task.id}) }}"><i class="far fa-edit"></i>Modifier</a>
    <p>{{ task.content }}</p>
    <div class="taskComments mb-3"
         data-controller="comment"
         data-fetch-url="{{ path('comment_api_new', {id: task.id}) }}">
        <ul class="comments"
            data-comment-target="commentList">
            {% if task.comments|length > 0 %}
                {% for comment in task.comments %}
                    <li class="comment">
                        {{ comment.content }}
                        <span class="username">{{ comment.user.username }}</span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="addComment">
            <div class="row">
                <div class="col-12">
                    <textarea class="formControl"
                        name=""
                        data-comment-target="content"
                        data-action
                        placeholder="Ajouter un commentaire"></textarea>
                </div>
                <div class="col-12">
                    <button data-action="comment#saveComment" class="btn btn-sm btn-success">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    {% if task.tags | length > 0 %}
        <div>
            <ul class="itemList tagList">
                {% for tag in task.tags %}
                    <li class="tag" style="background-color: {{ tag.color }}">
                        {{ tag.title }}
                    </li>
                {% endfor %}
                <li>
                    <a class="" href="#">+</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="statusChange">
        <label for="status-change-{{ task.id }}">Changer le statut :</label>
        <select name="statusChangeSelect"
                id="status-change-{{ task.id }}"
                data-task-id="{{ task.id }}"
                data-fetch-url="{{ path('task_api_set_status', {id: task.id}) }}"
                data-controller="statusChange"
                data-action="statusChange#change">
            {% for key,status in statuses %}
                <option value="{{ status }}"
                        {% if status == task.status %}selected{% endif %}>
                        {{ key }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
