<div id="task-{{ task.id }}"
     class="task"
     draggable="true"
     data-task-id="{{ task.id }}">
    <h3>{{ task.title }}</h3>
    <a class="btn btn-sm btn-primary" href="{{ path('task_edit', {id: task.id}) }}"><i class="far fa-edit"></i>Modifier</a>
    <p>{{ task.content }}</p>
    {% if task.tags | length > 0 %}
        <div>
            <ul class="itemList tagList">
                {% for tag in task.tags %}
                    <li class="tag" style="background-color: {{ tag.color }}">
                        {{ tag.title }}
                    </li>
                {% endfor %}
                <li>
                    <a class="" href="#">+</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="statusChange">
        <label for="status-change-{{ task.id }}">Changer le statut :</label>
        <select name="statusChangeSelect"
                id="status-change-{{ task.id }}"
                data-task-id="{{ task.id }}"
                data-fetch-url="{{ path('task_api_set_status', {id: task.id}) }}"
                data-controller="statusChange"
                data-action="statusChange#change">
            {% for key,status in statuses %}
                <option value="{{ status }}"
                        {% if status == task.status %}selected{% endif %}>
                        {{ key }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
