<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div class="row">
                    <div class="col-12">
                        <ul>
                            {% if not app.user %}
                                <li>
                                    <a class="btn btn-primary" href="{{ path('security_register') }}">Inscription</a>
                                </li>
                                <li>
                                    <a class="btn btn-primary" href="{{ path('security_login') }}">Connexion</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="btn btn-primary" href="{{ path('security_logout') }}">Déconnexion</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if app.user %}
                            <div id="profile-picture">
                                <a href="{{ path('account') }}">
                                    <span>{{ app.user.username }}</span>
                                    <img src="{{ asset('uploads/profile-pictures/' ~ app.user.profilePicture) }}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </header>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
