{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <div class="projectActions">
            <div class="row">
                <div class="col-12 col-md-3">
                    <a href="{{ path('task_new', {slug: project.slug}) }}"
                       class="btn btn-sm btn-success">Ajouter une tâche</a>
                </div>
            </div>
        </div>
        <div id="board">
            <div class="row">
                <div class="col-12 col-md-3">
                    {% for key,status in statuses %}
                        <div class="boardElement">
                            <h2>{{ key }}</h2>
                            {% for task in project.tasks|filter(t => t.status == status) %}
                                {{ include('task/_task.html.twig') }}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
